<div class="col-2 accordion" id="accordionExample">
  <div class="d-flex align-items-center pb-1 mb-2 mt-2 link-dark text-decoration-none">
    <span class="px-2 fs-5 fw-semibold pb-3 mb-3">Latest Trends</span>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-controls="collapseOne" aria-expanded="true">
        Category
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <ul class="list-unstyled fw-normal pt-1 small">
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">Science</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">Technology</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">Software</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-controls="collapseTwo" aria-expanded="true">
        Tags
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
      <ul class="list-unstyled fw-normal pt-1 small">
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">Science</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">Technology</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">General</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-controls="collapseThree" aria-expanded="true">
        Duration
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
      <ul class="list-unstyled fw-normal pt-1 small">
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">0-5 mins</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">5-10 mins</label>
        </li>
        <li class="px-4">
          <input type="checkbox">
          <label class="px-1">More than 10 mins</label>
        </li>
      </ul>
    </div>
  </div>

</div>