

#search-box {
    color: #2C1543;
    background-color: #573479;
    font-size: 16px;
}

.signin-btn {
    padding-top: 2px;
    font-size: 14px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
