@import "bootstrap";


.bg-indigo {
    background-color: #2C1543;
}

.bg-indigo-fade {
    background-color: #573479;
}

.border-indigo {
    border: 1px solid #573479;
}

#search-box {
    color: #2C1543;
    background-color: #573479;
    font-size: 16px;
}
  