@import "bootstrap";


.bg-indigo {
    background-color: #2C1543;
}

.bg-indigo-fade {
    background-color: #573479;
}

.border-indigo {
    border: 1px solid #573479;
}

.dropdown-fs {
    font-size: 14px;
}
  
.btn-primary {
    background-color: #2C1543 !important;
    font-size: 14px !important;
}