

#sortBy {
    font-size: 12px;
}

.card-text-sm {
    font-size: 12px;
}

.bg-silver {
    background-color: #F5F5F5;
}

.bg-silver:hover {
    background-color: #F0F0F0;
    margin: 5px;
    transition: 0.15s;
}